.footer{
    background-color: #222;
    color: white;
    padding: 1em 2.5em;
    text-align: center;
    box-shadow: -2px -2px 13px rgba(0, 0, 0, 0.38);
}

.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #FFBB33;
}
.social_list svg{
   font-size: 1.5em;
   cursor: pointer;
}

.copy_right{
    margin-top: 1em;
    font-weight: bold;
    color: #FFBB33;
}